*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  font-family: acumin-pro-condensed, sans-serif;
  font-style: normal;
  font-weight: 200;
}

body {
  text-align: center;
  background-color: #F0EDE5;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10%;
  margin-bottom: 2%;
}

.left {
  text-align: right;
  float: left;
  width: 50%;
}

.right {
  text-align: left;
  float: right;
  width: 50%;
}

.networks {
  overflow: hidden;
}

p {
  color: #000000;
  font-size: 1em;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #0066ff;
}

a:hover {
  text-decoration: none;
  color: #0000cc;
}
